<div class="container">
    <h1>予定リスト</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>件名</th>
            <th>日程</th>
        </tr>
        </thead>
        <% i = 1%>
    <% @posts.each do |post|%>
        <tbody>
        <tr>
            <th scope="row"><%= i %></th>
            <td><a href="/post/<%= post['id'] %>"><%= post['title'] %></a></td>
            <td><%= post['start_time'] %> 〜 <%= post['end_time']%></td>
        </tbody>
    <% i += 1 %>
    <% end %>
    </table>

    <div class="btn-signup">
        <a type="submit" href='/new_schedule' class="btn btn-primary mb-2">予定を書き込む</a>
    </div>
    <div class="btn-signup">
        <a type="submit" href='/schedule' class="btn btn-primary mb-2">予定を見る</a>
    </div>
</div>