<div class="container">
    <h1>予定リスト</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>件名</th>
            <th>日程</th>
            <th>イベント日程</th>
        </tr>
        </thead>
        <% i = 1%>
    <% @posts.each do |post|%>

    <% endDateTime = Time.parse(post['start_time']) %>
    <% left = endDateTime - @now %>              <%# Time型同士の引き算は秒数で出される%>
    <% left_d = left / (24*60*60) %>
    <% left_h = left % (24*60*60) / (60*60) %>
    <% left_m = left % (24*60*60) % (60*60) / 60 %>
    <% d = left_d.floor %>                              <%# 残時間の日数　%>
    <% h = left_h.floor %>                              <%# 残時間の時間　%>
    <% m = left_m.floor %>                              <%# 残時間の分　%>

        <tbody>
        <tr>
            <th scope="row"><%= i %></th>
            <td><a href="/post/<%= post['id'] %>"><%= post['title'] %></a></td>
            <td><span class="eventDay"><%= post['start_time'] %></span> 〜 <%= post['end_time']%></td>
            <td>
            <% if left >= 0 %>
                残り　<%= left_d.floor %> 日 <%= left_h.floor %> 時間  <%= left_m.floor %> 分 
            <%else%>
                経過　<%= -1 * left_d.floor %> 日 <%= left_h.floor %> 時間  <%= left_m.floor %> 分
            <%end%>
            </td>
        </tbody>
    <% i += 1 %>
    <% end %>
    </table>

    <div class="btn-signup">
        <a type="submit" href='/new_schedule' class="btn btn-primary mb-2">予定を書き込む</a>
    </div>
    <div class="btn-signup">
        <a type="submit" href='/schedule' class="btn btn-primary mb-2">予定を見る</a>
    </div>
</div>