<div class="container">
    <h1>予定リスト</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>件名</th>
            <th>日程</th>
            <th>イベント日程</th>
        </tr>
        </thead>
        <% i = 1%>
    <% @posts.each do |post|%>
        <tbody>
        <tr>
            <th scope="row"><%= i %></th>
            <td><a href="/post/<%= post['id'] %>"><%= post['title'] %></a></td>
            <td><span class="eventDay"><%= post['start_time'] %></span> 〜 <%= post['end_time']%></td>
            <td><div class="TimeLeft"></div></td>　　<%# js でカウントダウン表示 %>
        </tbody>
    <% i += 1 %>
    <% end %>
    </table>

    <div class="btn-signup">
        <a type="submit" href='/new_schedule' class="btn btn-primary mb-2">予定を書き込む</a>
    </div>
    <div class="btn-signup">
        <a type="submit" href='/schedule' class="btn btn-primary mb-2">予定を見る</a>
    </div>
</div>




<script src="/js/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
    countDown();
});
    function countDown() {
        // DBから日程を取得して入力
    let endDateTime = $(".eventDay").text();
    let startDateTime = '<%= @now %>';
// console.log(endDateTime);
// console.log(startDateTime);
    let left = endDateTime - startDateTime;
    const a_day = 24 * 60 * 60 * 1000;
    let d = Math.floor(left / a_day)   // 期限から現在までの『残時間の日の部分』
    let h = Math.floor((left % a_day) / (60 * 60 * 1000))   // 『残時間の時間の部分』
    let m = Math.floor((left % a_day) / (60 * 1000)) % 60   //『残時間の分の部分』

    $(".TimeLeft").text(d + '日' + h + '時間' + m + '分');
    setTimeout('countDown()', 1000);
}
</script>